@import 'variables';
@import 'mixins';

.something{
	color: white;
	a{
		text-transform: uppercase;
		text-decoration: none;
		font-size: 12px;
	}
	ul{
		color: red;
	}
}

.banner{
	background-color: $background;
	height: $bannerHeight;
	
	.logo, .sm{
		height: 100%;
		width: auto;
		display: inline-block;
		vertical-align: middle;
		padding: 10px;
		box-sizing: border-box;
	}
	a{

	}
	img{
		width: auto;
		max-height: 60%;
	}
	.sm{
		float: right;
	}
}