.something {
  color: white;
}
.something a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}
.something ul {
  color: red;
}

.banner {
  background-color: #324455;
  height: 150px;
}
.banner .logo, .banner .sm {
  height: 100%;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  box-sizing: border-box;
}
.banner img {
  width: auto;
  max-height: 60%;
}
.banner .sm {
  float: right;
}

/*# sourceMappingURL=index.css.map */
